:root {
  --color-primario: lightcyan; 
  --color-secundario:lightskyblue;
}

body:has(input:checked) {
  background-color: var(--color-secundario);
}

input:checked + div#contenedor {
  background-color: var(--color-secundario);
}

body {
  background-color: var(--color-primario);
}

div#contenedor {
  background-color: var(--color-primario);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

.parrafo {
  color: blue;
  line-height: 1.5em;
}

#par1 { font-size: 25px; }
#par2 { font-size: 25px; }

div#contenedor {
  font-family: 'Courier New', Courier, monospace;
}

div#contenedor h1 {
  color: red;
}

div#contenedor h1 {
  color: green;
}
