
h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    font-family: "Times-New-Roman";
    color: blue;
}

h2 {
    font-family: verdana;
    font-size: 20px;
    color: aqua;
}

p {
    font: bold italic 20px Arial;
}