
 
.yanone {
     font-family: 'Yanone Kaffeesatz', sans-serif, arial;
     font-size: 75px;
    /*text-shadow: 4px 4px 4px #aaa;*/
}


.passion {
     font-family: 'Passion One', cursive;
	 font-size : 40px;
}



.russo {
	font-family: 'Russo One', sans-serif;
	font-size : 40px;
}


 