* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.contenedor {
    width:100vw;
    height:100vh;
    background-color: blue;
    
    display:grid;
    grid-template-columns: 10% 45% 45%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: 'enca enca enca'
                         'menulat col1 col2'
                         'pie pie pie';
    justify-content: stretch;
    align-content:stretch;
    
    justify-items:stretch;
    align-items:stretch;
} 

.caja {
    background-color:aqua;
    text-align:center;
    border: 1px solid red;
}

#enca { grid-area:enca}
#menulat {grid-area:menulat}
#col1 { grid-area:col1}
#col2 { grid-area:col2}
#pie { grid-area:pie}


@media screen and (max-width:800px){
    .contenedor {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-areas: 'enca'
                         'menulat' 
                         'col1' 
                         'col2'
                         'pie';
    }   
}