.superior {
    background: #F99;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
}

.cuerpo {         /* delimitador para que la pagina no sea demasiado grande */
    max-width:1000px;
    margin:auto;
}

.cabecera {
    background: #9F9;
    margin-top: 30px;
    height: 200px;
}

.agenda {
    background: #99F;
    float: left;        /* flotar el elementyo a la izquierda */
    width: 35%;
    height: 600px;
}

.contenido {
    background: #AAA;
    width: 65%;
    margin-left: 35%;
    height: 900px;
}

@media all and (max-width:600px) {
div {
    display : block !important;
    width: 100% !important;
    max-width:100% !important;
    margin: auto !important;
    position: static !important;
    float: none !important;
}
}