
html, body, div 
    {
    height: 100%;
    border:0;
    margin:0;
    padding:0;
    }

body 
    { 
    color: #fff;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #b6701e;
    }

h1 {
    font-size: 1.75rem;
    }

.container 
    {
    display: table;        /*El Contenedor es una tabla  */
    height: 100%;
    width: 100%;
    padding:0;
    }

div 
    {
    display: table-cell;     /* Los divs son celdas de tablas */
    text-align: center;
    vertical-align: middle;
    width: 50%;
    /* padding: 1rem;*/
    }

.left-half 
    {
    background: #0080ff;
    }

.right-half 
    {
    background: #04b404 ;    
    }