* {
    box-sizing: border-box;
    }

html, body, div
    {
    height: 100%;
    }

body 
    { 
    color: #fff;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #b6701e;
    }

h1 {
    font-size: 1.75rem;
    }

.container 
    {
    display: flex;
    }

.left-half 
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: #0080ff;
    }

.right-half 
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: #04b404;
    }