* {
    box-sizing: border-box;
    }

html, body, div
    {
    height: 100%;
    border:0;
    margin:0;
    padding:0;
    }

body 
    { 
    color: #fff;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #b6701e;
    }

h1 {
    font-size: 1.75rem;
    }

.container 
    {
    
    height: 100%;
    width: 100%;
    }

.left-half 
    {
    /*
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    display:inline-block;
    vertical-align: top;
    background: #0080ff;
    width:50%;
    text-align: center;
    }

.right-half 
    {
    /*
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    */
    display:inline-block;
    vertical-align: top;
    background: #04b404;
    width:50%;
    text-align: center;        
    }