* {
    box-sizing: border-box;
    }

html, body, div
    {
    height: 100%;
    border:0;
    margin:0;
    padding:0;
    }

body 
    { 
    color: #fff;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #b6701e;
    }

h1 {
    font-size: 1.75rem;
    }

.container 
    {
    height: 100%;
    width: 100%;
    padding:0;
    }

div 
    {
     text-align: center;
     vertical-align: middle;
    }

.left-half 
    {
    background: #0080ff;
    float:left;
    width:50%
    }

.right-half 
    {
    background: #04b404;
    float:left;
    width:50%
    }