
* 	{ 
	font-family: arial; 
   	}

.fondoGradiente
	{
	text-align : center;
	width: 500px;
	height: 9em;
	line-height: 4.5em;
	margin: 0 auto;
	border: solid 3px;

	/* browsers que no aceptan gradiente de fondo */
	background-color: #F4FA58;		
	
	/* Chrome Safari versiones antiguas*/
	background-image: -webkit-gradient(linear,left top, left bottom, from(#F4FA58) to(#FF0000));
	
	/* Chrome Safari versiones modernas */
	background-image: =webkit-linear-gradient(top,#F4FA58,#FF0000);
	
	/* Opera versiones modernas*/
	background-image: -o-linear-gradient(top,top,#F4FA58,#FF0000);
	
	/* Chrome Firefox, IE, Opera versiones modernas*/
	background-image: linear-gradient(to bottom,#F4FA58,#FF0000);
	}   