body {
    font-family: sans-serif;
}
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.contenedor p {
    color: blue;
    margin-bottom: 30px;
}

header nav {
    background: #3498db;
    margin-bottom: 10px;
}
header nav ul {
    list-style: none;
    overflow: hidden;
}

header nav ul li {
    float:left;
}

header nav ul li a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #080862;
}

.menufixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    /*max-width: 1000px;*/
}