:root {
  --textoLight: black;
  --fondoLight: white;
  
  --textoDark: white;
  --fondoDark: black;
  
  --texto: var(--textoLight);
  --fondo: var(--fondoLight);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#contenido {
  background: var(--fondo);
  color: var(--texto);
  width:100%;
  height:100%;
}

#cambiaTema:checked ~ #contenido {
  --texto: var(--textoDark);
  --fondo: var(--fondoDark);
}