:root {
  --textoLight: black;
  --fondoLight: white;
  
  --textoDark: white;
  --fondoDark: black;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#contenido {
  background: var(--fondoLight);
  color: var(--textoLight);
  width:100%;
  height:100%;
}

#cambiaTema:checked ~ #contenido {
  background: var(--fondoDark);
  color: var(--textoDark);
}