* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html,body {
    width:100vw;
    height:100vh;
}

.contenedorPadre {
    width:100%;
    height:100%;
    background-color: gray;
}

.menu {
    position:fixed;
    width:200px;
    height:100%;
    background-color: blue;
}

.contenido {
    position:relative;
    margin-left:200px;
    height:100%;
    background-color: aqua;
}

.MenuEscondido {
    width:0;
}

.ContenidoMenuEscondido {
    margin-left:0;
}
