* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bkColorSide:lightgray;
  --bkColorContent: cadetblue;
}

.contenedor {
  display:flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-items: stretch;
}

div.sidebar {
  background-color:var(--bkColorSide);
  flex-grow: 0.3;
  
}
div.content {
  background-color:var(--bkColorContent);
  flex-grow: 2;
}

a {
  display: block;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  background-color: blue;
  color: white;
}




input {display: none;}

input:checked + .sidebar{
  display:none;
}

/* 
input:checked ~ .content {
  margin-left: 0px;
} */






 @media screen and (max-width: 1200px) {

  .contenedor {
    flex-direction:column;
  }
  
   div.sidebar {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 0.1;
    justify-content: center;
  }
}


@media screen and (max-width: 600px) {
  div.sidebar {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 0.1;
    justify-content: center;
  }
}

