.button {
	position: relative;
	display: inline-block;
	margin: 10px;
	padding: 0 20px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(255,255,255,.22);
	box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 1px 1px 1px rgba(255,255,255,.44);
}

.green {
    color: #3e5706;
    background: #a5cd4e;
}
 
.blue {
    color: #19667d;
    background: #70c9e3;
}
 
.gray {
    color: #515151;
    background: #d3d3d3;
}

.button:hover {
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    -moz-box-shadow: 4px 3px 4px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    box-shadow: 4px 4px 4px rgba(0,0,0,.29), inset 0px 0px 2    px rgba(0,0,0, .5);
}


.button:active {
    -webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
    -moz-box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
    box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
}


big {
    padding: 0 40px;
    padding-top: 10px;
    height: 45px;
    text-transform: uppercase;
    font: bold 20px/22px Arial, sans-serif;
}
 
.big span {
    display: block;
    text-transform: none;
    font: italic normal 12px/18px Georgia, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .12);
}