:root {
  --colorFondo: red;
  --titulo: 'Arial'
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--colorFondo);
}
.contenido {
  color: var(--colorPrimario);
}

h1 {
  font-family: var(--titulo);
}
.contenido p {
  color: var(--colorSecundario);
}

.ModoObscuro {
  --colorFondo: darkslategray;
  --colorPrimario: white;
  --colorSecundario: beige;
}