body {
    background: #f06d06;
    font-size: 80%;
}

main {
    background: white;
    margin: 20px 0;
    padding: 80px;
}

main a {
    background: black;
    color: white;
    padding: 40px 30px;
    text-decoration: none;
}

div {
    background: black;
    color: white;
    height: 100px;
    line-height: 100px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    /*white-space: nowrap;*/
}
