body {
    background: #f06d06;
    font-size: 16px;
    font-family:cursive;
}


.container {
    background: white;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
}


.innerCenter {
    margin: 0 auto;     /* Centrado Horizontal*/
    max-width: 400px;   /* Ancho Maximo */
    text-align: center;
    background-color: black;
    color: white;
}


.innersCentered {
    padding: 15px;
    margin: 5px;
    max-width: 125px;
    display: inline-block;
    text-align: justify;
    background: black;
    color: white;
}


/*
.inline-block-center {
    text-align: center;
}


.inline-block-center div {
    display: inline-block;
    text-align: left;
}
*/

/*
.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
*/