body {
    font-family: arial;
}

table {
    border: 3px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    border: 1px solid #ddd;
    padding: 5px;
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: blue;
}


/*******************************************************************
                             Media Query
********************************************************************/

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    /* Esconde header de la tabla */
    table thead {
        display: none;
    }
    table tr {
        display: block;
        margin-bottom: 10px;
        border-bottom: 2px solid #ddd;
    }
    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }
    /* Al ultimo dato no le elimina el borde inferior */
    table td:last-child {
        border-bottom: 0;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        color: blueviolet;
    }
}