
table {
	width:100%;
	border-collapse: collapse;
}

tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: blue;
    color:white;
    font-weight: bold;	
}

td, th {
	padding: 6px;
	border: 1px solid blue;
	text-align: left;
}


/* ----------------------- */
/* AT 760px table as block */
/* ----------------------- */

@media only screen and (max-width: 760px),
(min-device-width: 1024px) and (max-device-width: 1024px)

{
	/* force table elements not to be liketables anymore */
	table,thead,tbody,th,td,tr {
		display: block;
	}

	/* hide table headers */
	/* but not with display:none */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid red;
	}

	/* Behave like a row */
	td {
		border: none;
		border-bottom: 1px solid yellow;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* now like a table header */
		position: absolute;
		/* top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before { content: "Nombre"; }
	td:nth-of-type(2):before { content: "Paterno"; }
	td:nth-of-type(3):before { content: "Materno"; }
}