// Ejemplo de variables en Less
@color-primario:lightcyan;
@color-secundario:lightskyblue;

body:has(input:checked){
    background-color: @color-secundario;
}
input:checked + div#contenedor{
    background-color: @color-secundario;
}

body {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 500px;
        margin: 0 auto;
        background-color:@color-primario;
}
div#contenedor{
    background-color: @color-primario;
}

// Ejemplo de mixin
.parrafo() {
    font-family: 'Courier New', Courier, monospace;
    font-size:16px;
    line-height: 1.5em;
}

#par1 {
    background-color: gray;
    .parrafo()
}

#par2 {
    background-color: cyan;
    .parrafo()
}

// Ejemplo de anidacion en Less
div#contenedor {
    font-family: 'Courier New', Courier, monospace;
    h1 {
        color:red;
    }
    h2 {
        color:green;
    }
}