body:has(input:checked) {
  background-color: lightskyblue;
}
input:checked + div#contenedor {
  background-color: lightskyblue;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  background-color: lightcyan;
}
div#contenedor {
  background-color: lightcyan;
}
#par1 {
  background-color: gray;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.5em;
}
#par2 {
  background-color: cyan;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.5em;
}
div#contenedor {
  font-family: 'Courier New', Courier, monospace;
}
div#contenedor h1 {
  color: red;
}
div#contenedor h2 {
  color: green;
}
