@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?u3po93');
    src:    url('fonts/icomoon.eot?u3po93#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?u3po93') format('truetype'),
        url('fonts/icomoon.woff?u3po93') format('woff'),
        url('fonts/icomoon.svg?u3po93#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-lifebuoy:before {
    content: "\e901";
}
.icon-rocket:before {
    content: "\e902";
}
.icon-briefcase:before {
    content: "\e903";
}
.icon-menu:before {
    content: "\e905";
}
.icon-earth:before {
    content: "\e904";
}

