* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFA;
    font-family: sans-serif;
}

header {
    width: 100%;
}

.menu_bar {
    display: none;
}

header nav {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: #040e5c;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color: navajowhite;
    padding: 20px;
    display: block;
    text-decoration: none;
}

header nav ul li span {
    margin-right: 5px;
}

header nav ul li a:hover {
    background: #1f73a8;
}

section {
    padding: 20px;
}

@media screen and (max-width:800px) {
    header nav {
        width: 80%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
    }
    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid navajowhite;
    }
    .menu_bar {
        display: block;
        width: 100%;
        background: #040e5c;
    }
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        color: navajowhite;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-webkit-box-sizing: border-box;
        -moz-webkit-box-sizing: border-box;
        -ms-webkit-box-sizing: border-box;
        -o-webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
}