* {
    margin: 0;
    padding: 0;
}

header {
    background: #5bbae5;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

header nav ul li a:hover {
    border-radius: 50px;
    background: #63a250;
}

section {
    padding-top: 60px;
}
section p {
    margin-bottom: 1em;
}