* { box-sizing: border-box;
    margin:0;
    padding:0;
}

.contenedor {
    width:100vw;
    height:100vh;
    background-color: blue;
    display:grid;
    
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 15% 75% 10%;
    grid-template-areas: 'encabezado encabezado encabezado'
                         'columna1 columna2 columna3'
                         'piepagina piepagina piepagina';

    justify-content:center;
    align-content: center;
    /* place-content: center center; */

    justify-items: stretch;
    align-items: stretch;
}

.caja {
    /* width: 50px; */
    /* height: 50px; */
    background-color:aqua;
    text-align:center;
    border: 1px solid red;
}

.caja:hover{
    background-color:antiquewhite;
}

.caja:active{
    background-color:blueviolet;
}


#encabezado { grid-area:encabezado;}
#columna1   { grid-area:columna1;}
#columna2   { grid-area:columna2;}
#columnas3  { grid-area:columna3;}
#piepagina  { grid-area:piepagina;}
/* display:grid;
grid-template-columns: 200px 200px 200px;
grid-template-rows: 150px 150px 150px 150px;
justify-content:center;
align-content: center;
justify-items: center;
align-items:center;
grid-auto-flow: dense; */