
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#divTitulo {
    padding:8px;
    width:100%;
    height:30px;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    background: #7db9e8;
}
