* { 
    box-sizing: border-box;
    margin:0;
    padding: 0;   
}

.contenedor {
    width:100%;
    height:700px;
    background-color: aqua;
}

.caja {
    float:left;
    border: 2px solid blue;
    height: 100px;
    width: calc((100% / 6) - 4px);
    margin:2px;
    text-align: center;
    font-weight: bold;
    color:blue;
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    /* Estilos aplicables cuando la pantalla mida de 400 a 800 px */
    #caja4 {clear:left;}

    .caja {
        width: calc((100% / 3) - 4px);
    }
}

@media screen and (max-width: 399px) {
    /* Estilos aplicables solo en el rango de pixeles especificado */
    
    .caja { display:block;
        width: calc(100% - 4px);}
}