.encabezado {
    background: #069;
    border-bottom: #999 solid 1px;
    height: 130px;
}

.derecha {
    background: #FCC;
    border-right: #F00 solid 1px;
    float: left;
    height: 450px;
    width: 10%;
}

.izquierda {
    background: #9F9;
    border-left: #F00 solid 1px;
    float: right;
    height: 450px;
    width: 20%;
}

.contenedor {
    background: #F93;
    height: 450px;
    overflow: hidden;
    width: 100%;
}

.pie {
    background: #CC3;
    border-top: #000 solid 1px;
    height: 50px;
}