* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height:100%;
    color:white;
}

.caja h3 {
    font-family: Arial, Helvetica, sans-serif;
}

#superior {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: blue;
}

#lateral {
    position: fixed;
    top: 80px;
    width: 200px;
    height: 100%;
    background-color: darkgreen;
}

#contenido {
    padding-top: 80px;
    padding-left: 220px;
    height:100%;
    background-color: #A9BCF5;
}

#corner {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 180px;
    height: 120px;
    background-color: red;
}
