.caja {
    width: 500px;
    margin: 10px auto;
    border: 2px solid blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#caja1 {
    box-sizing: content-box;  /* Este es el default, no se necesita declarar*/
    padding: 0px;
}

#caja2 {
    box-sizing: content-box;  /* Este es el default, no se necesita declarar*/
    padding: 20px;
}

#caja3 {
    box-sizing: border-box;   
    padding: 20px;
}

.codigo {
    font-family:monospace;
    color: red;
    font-weight: bolder;
}