* {
    box-sizing: border-box;
    margin: 5px;
    font-family:Arial, Helvetica, sans-serif;
}

.box {
    margin: 5px auto;
    border: 3px solid blue;
}

h3 {
    text-align: center;
}

#main1 {
    width: 600px;
    }

#main2 {
    max-width: 600px;
}

#parrafo {
    width: 600px;
    height: 200px;
    background-color: #7bede0;
    color: #08128a;
}