* {
    box-sizing: border-box;
    margin: 5px;
}

body {
    height: 100%;
}

.box {
    margin: 5px auto;
    border: 3px solid blue;
    overflow: scroll;
}

h3 {
    text-align: center;
    color: #390576;
}

i {
    color: darkgreen;
    font-weight: bold;
}

#main1 {
    width: 600px;
    height: 40%;
    }

#main2 {
    max-width: 600px;
    height: 40%;
}

