.titulopag {
    background-color: #ffffcc;
    text-align: center;
    font-family: verdana;
    font-size: 20px;
    border-top-width: 1px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 1px;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: dotted;
    border-top-color: #ffaa00;
    border-right-color: #ff0000;
    border-bottom-color: #ff0000;
    border-left-color: #ffaa00;
}

h2 {
    border: 5px solid #FF00FF;
}

p.comentarios {
    border-top: 1px solid #088A4B;
    border-bottom: 1px solid #088A4B;
}

