
body
{	line-height: 1.6em;
}


#tabla1
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 600px;
    height: 50px;          /*esta no estaba*/
    overflow: auto;       /*esta no estaba*/
	text-align: left;
	border-collapse: collapse;
}
#tabla1 th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('table-images/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#tabla1 td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('table-images/gradback.png') repeat-x;
}
#tabla1 tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#tabla1 tbody tr:hover td
{
	background: #d0dafd url('table-images/gradhover.png') repeat-x;
	color: #339;
}



