* {
    margin: 0;
    padding: 0;
}

body {
    width: 960px;
    margin: 0 auto;
}

#cabecera {
    background-color: #eee;
    padding: 10px;
    margin: 10px;
}

#pie {
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    clear: both;
}

.columna1,
.columna2,
.columna3 {
    background-color: #919191;
    width: 280px;
    float: left;
    margin: 10px;
    padding: 10px;
    color: white;
}

li {
    display: inline;
    padding: 5px;
}