* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #FEFEFE;
    font-family: sans-serif;
}

header {
    width: 100%;
}

.menu_bar {
    display: none;
}

header nav {
    width: 95%;
    max-width: 1000px;
    margin: 20px auto;
    background: #023859;
    z-index:1000;     /*menu por arriba de los demas elementos */
}

header nav ul {
    /*overflow: hidden;  Esta propiedad no porque los submenus no se verian*/
    list-style: none;
}


header nav ul li {
    display:inline-block;
    position: relative;   /*sirve para los submenus*/
   /*float: left;   no se puede float left por los sub-menus desplegables*/
}

header nav ul li:hover {
    background: #E6344A;
}

header nav ul li a {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}

header nav ul li a span {
    margin-right: 10px;
}

header nav ul li:hover .children {
    display: block;
}

header nav ul li .children {
    display: none;
    background: #011826;
    position: absolute;   /* padres son relative    hijos son absolutes */
    width: 150%;          /* para que children sea maw ancho que padre */
    z-index: 1000;
}

header nav ul li .children li {
    width: 100%;
    border-bottom: 1px solid white;
}

header nav uL li .icon-chevron-small-down {
    position: relative;
    top:3px;
    margin-left: 10px;
    margin-right: 0px;
}

section {
    padding: 20px;
}



/*EMPIEZA MENU RESPONSIVE EN 46:13*/

@media screen and (max-width:800px) {
    body {
        padding-top: 80px;
    }
  .menu_bar {
        display: block;
        width: 100%;
        position: fixed;
        top:0;
        background: #E6344A;
    }
   
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-webkit-box-sizing: border-box;
        -moz-webkit-box-sizing: border-box;
        -ms-webkit-box-sizing: border-box;
        -o-webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
    
       header nav {
        width: 70%;
        height: calc(100% - 80px);   /* 100% del alto menos los 80 pixeles del div superior */
        /*height: 100%; */
        /*left -100%;*/  /*esta se uso en el menu anterior*/
        margin: 0;
        position: fixed;
        right: 100%;
        overflow: scroll;
    }
    
    header nav ul li {
        display : block;
        border-bottom: 1px solid yellow;
    }
    
    header nav ul li a {
        display : block;
    }
    
    header nav ul li:hover .children {
        display: none;
    }
    
    header nav ul li .children {
        width:100%;
        position: relative;
    }
    
    header nav ul li .children li a{
        margin-left: 20px;
    }
    
    header nav ul li .icon-chevron-small-down{
        float:right;
    }
}
