* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.contenedor {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    width:100vw;
    height:100vh;
    background-color: blue;
    flex-direction: row;
    flex-wrap:no-wrap;
    justify-content:space-evenly;
    align-items:center;
}

.caja {
    /* width:100px; */
    height:100px;
    background-color:aqua;
    margin:10px;
    text-align:center;
}

#caja1 { flex-grow: 1}
#caja2 { flex-grow: 2}
#caja3 { flex-grow: 3}
#caja4 { flex-grow: 4}

/* #caja4 {
    align-self: flex-start;
} */

 