@charset "utf-8";

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

#container {
    width:100%;
}

#divTitulo{
    padding:8px;
    width:100%;
    height:30px;
    color:#FFF;
    font-weight:bold;
    background: #7db9e8;
}
