* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  /* max-height: 100%; */
 /* line-height: 1.7rem; */
}

body {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
header {
  background-color: greenyellow;
  /* padding: 0.8rem; */
  height: 50px;
} 

.main {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* h1 {
  margin: 0.2rem 0;
} */

section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.messages {
  flex-grow: 1;
  height: 100%;
  max-height: 100%;
  background-color: #ffc;
  overflow: auto;
}

.actions {
  background-color:aqua;
  height: 50px;
}