* {
  box-sizing: border-box;
}
html {
  height: 100%;
  max-height: 100%;
  line-height: 1.7rem;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  justify-items: stretch;
  align-items: stretch;
}

header {
  background-color: #eee;
  padding: 0.5rem;
}

.main {
  padding: 0.3rem;
  background-color: #f88;
  max-height: 100%;
  height: 100%;
  border: 1px solid red;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  justify-items: stretch;
  align-items: stretch;
  overflow: auto;
}

h1 {
  margin: 0;
}

/* .video {
  background-color: #303030;
  color: #fff;``
  padding: 1rem;
}
*/

section {
  border: 3px solid green;
  background-color: #9ef;
  max-height: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  justify-items: stretch;
  align-items: stretch;
  overflow: auto;
}
.messages {
  max-height: 100%;
  height: 100%;
  background-color: #ffc;
  overflow: scroll;
}