* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

#contenedor {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: yellow;
    padding: 0;
}
 
#encabezado {
    width: 100%;
    height: 20%;
    color: #fff;
    padding: 1em;
    background-color: #0993F5;
    clear: left;
    text-align: center;
}



#menu {
    padding: 1em;
    float: left;
    width: 200px;
    height: 70%;
    margin: 0;
    border: 2px solid white;
    background-color: #ADADAD;
}

#contenido {
    height: 70%;
    padding: 1em;
    margin-left: 200px;
    border: 2px solid white;
    background-color: #ADADAD;
}



#piePagina {
    background-color: limegreen;
    clear: left;
    height: 10%;
    padding: 1em;
    border: 2px solid black;
    text-align: center;
} 
