* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

html,body {
    width:100%;
    height:100%;
}
#contenedor {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    background-color: yellow;
    text-align: center;
}

#encabezado {
    clear: right;
    width: 100%;
    height: 20%;
    border: 2px solid white;
    background-color: #0993F5;
}

#menu {
    float: left;
    width: 200px;
    height: 70%;
    border: 2px solid white;
    background-color: #ADADAD;
}

#contenido {
    height: 70%;
    margin-left: 200px;
    border: 2px solid white;
    background-color: #ADADAD;
}


#piePagina {
    clear: left;
    height: 10%;
    border: 2px solid white;
    background-color: limegreen;
}