
#menu {
	display: block;
	width: 300px;
	min-height: 100%;
	top:0;
	z-index: 9999;
	position: fixed;
	background-color: blue;
}

#menu .toggle {
	position: absolute;
	top:0;
	left:300px;
	padding:10px;
}

#toggle {
	display: none;
}

#menu {
	left: -300px;
	transition: left 1s;
}

#toggle:checked + #menu {
	left:0;
	transition: left 1s;
}

#container {
	margin-left:50px;
}


/*Estilo para el menu*/
#menu span {
    display: block;
    font-size: 22px;
    margin: 20px 10px;
	color: white;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    font-size:19px;
    border-bottom: 1px solid #2c3e50;
}
#menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color:#fff;
}
#menu ul ul li {
    background-color: #2c3e50;
}
#menu ul li a:hover,
#menu ul ul li a {
    padding: 10px 10px 10px 30px;
	background-color: green;
}

#menu ul ul li a:hover {
    padding: 10px 10px 10px 60px;
}
#menu ul li a,
#menu ul li a:hover,
#menu ul ul li a,
#menu ul ul li a:hover {
    transition: padding 0.5s;
}
