
legend { 
    font-weight: bold;
    color:blue
}

form label {
    display: inline-block;
    width: 100px;
}

form input {
    display: inline-block;
    width: 400px;
}

input:focus {
    border:2px solid blue;
    background: #F3F3F3;
}

.button {
    width: 100px;
    cursor: pointer;
}
