legend { 
    font-weight: bold;
    color:blue
}

label {
    width: 15%;
    float: left;
    font-weight: bold;
    text-align: right;
}

input:focus {
    border:2px solid blue;
    background: #F3F3F3;
}