* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.bloque {
    border: 5px solid red;
}


p {
    border: 2px solid blue;
    margin: 10px;
}

#parrafo2 {
    width: 70%;
}


.parrafoblock {
    background: cyan;
    border: 1px solid black;
}

.parrafoinline {
    background: cyan;
    border: 1px solid black;
    display: inline;
    width:200px;  /* Esta propiedad no se va aplicar porque a los eleemntos con display inline no se les puede manipular el tamano */
}


.codigo {
    font-family: monospace;
    color: red;
    font-size: larger;
    font-weight: bolder;
}

.parrafoinblock {
    display:inline-block;
}

#parrafo8 {  height:100px; width:100px;}
#parrafo9 {  height:200px; width:200px;}
#parrafo10 { height:150px; width:300px;}