body {
    background-image: url("../../../Imagen/Infinito3.jpg");
	  background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.p1 {
    background-color: #ffaaff;
    width: 50%;
}

.p3 {
    background-color: #7094ce;
    width: 30%;
}

.p4 {
    background-color: #faf;
    opacity: 0.7;
    text-align: center;
    font: bold 13px sans-serif;
    color: blue;
    width: 500px;
    margin: 0 auto;
}
