@bkcolor : aliceblue;

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body {
    background-image: url("./F1.png");
    background-repeat: repeat;
    background-size: 250px 100px;
}

#contenedor {
    width: 60%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
    background-color: @bkcolor;
    h1 {
        text-justify:distribute;
    }
    p {
        text-justify: inter-word;
    }
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

