* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 800;
    color:white;
}

#cont1:hover {
    width: 700px;
}

#cont2:hover {
    width: 700px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 1s;
}

#cont3:hover {
    width: 700px;
    transition: width 2s ease-out;
}

#cont4:hover {
    background-color: green;
    transition: background-color 2s ease-out;
}