* {
    box-sizing: border-box;
    margin: 0;
}

table {
    border: 1px solid blue;
    font: 14px sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    width: 400px;
    margin: 0 auto;
}

thead {
    width: 400px;
}

tr {
    width: 400px;
}

table thead {
    background-color: darkblue;
    color: white;
    text-align: left;
}

.col1 {
    width: 100px;
}

.col2 {
    width: 100px;
}

.col3 {
    width: 100px;
}

.col4 {
    width: 100px;
}

table thead {
    display: block;
    position: relative;
}

table tbody {
    display: block;
    overflow: auto;
    width: 400px;
    height: 300px;
}

table tbody tr:nth-child(even) {
    background-color: #91a1b1;
}