.users {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.users td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.users thead {
    color: white;
    background-color: blue
}

.users tbody tr:nth-child(even) {
    background-color: aquamarine;
}


/* Column widths are based on these cells */

.col1 {
    width: 10%;
}

.col2 {
    width: 40%;
}

.col3 {
    width: 30%;
}

.col4 {
    width: 20%;
}

