* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #fffffa;
}

header {
    width: 100%;
    background: #252932;
    margin-bottom: 20px;
    overflow: hidden;
    /* muy importante porque va tener floats */
}

.wrapper {
    /* clase para centrar */
    width: 70%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .logo {
    color: #f2f2f2;
    font-size: 50px;
    line-height: 200px;
    float: left;
}

header nav {
    float: right;
    line-height: 200px;
}

header nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-width: bold;
    border-radius: 40px;
    -webkit-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
}

header nav a:hover {
    background: orange;
}

.header2 {
    /* header2 es el header al hacer scroll */
    position: fixed;
    height: 100px;
}

.header2 .logo {
    line-height: 100px;
    font-size: 30px;
}

.header2 nav {
    line-height: 100px;
}


/* Esto se va hacer con JQuery */
/*                
.contenido {
    padding-top:120px;
}
*/

p {
    margin-bottom: 20px;
}

@media screen and (max-width:900px) {
    header .logo,
    header nav {
        width: 100%;
        text-align: center;
        line-height: 100px;
    }
    
    .header2 {
        height:auto;
    }
    
    .header2 .logo,
    .header2 nav {
        line-height: 50px;
    }
}