* {
    box-sizing: border-box;
    margin-bottom: 70px;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
}

.container {
    position: relative;
    background-color: #adadea;
    border: 3px solid blue;
 
}

.nav {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    background-color: yellow;
    color: blue;
    border: 3px solid #ff3b00;
}

.section {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    margin-left: 25%;
    background-color: #83e683;
    color: white;
    border: 3px solid #044804;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: #bb80c9;
    border: 3px solid #540c74;
    color: blue;
    width: 100%;
}
