h3 {
    font: 20px arial sans-serif;
    color: blue;
}

#menu {
    font-family: Arial;
    margin: 5px;
}

#menu p {
    margin: 0;
    padding: 0;
}

#menu a {
    display: block;
    padding: 3px;
    width: 160px;
    background-color: #f7f8e8;
    border-bottom: 1px solid #eee;
    text-align: center;
}

#menu a:link,
#menu a:visited {
    color: #f00;
    text-decoration: none;
}

#menu a:hover {
    background-color: #369;
    color: #fff;
}

#detalles {
    background-color: #ffc;
    text-align: left;
    font-family: verdana;
    border-width: 0;
    padding: 5px;
    border: 1px dotted #fa0;
    margin: 5px;
}

#estatus {
    background-color: #D8D8D8;
    color: #0101DF;
    text-align: left;
    font-family: verdana;
    border-width: 0;
    padding: 5px;
    border: 1px solid green;
    margin: 5px;
    height: 18px;
}
    