
.cuadrado
    {
    background-color: #f00;
    height: 50px;
    width: 50px;
    margin: 3px;
    z-index:-1;
    }

#divmensaje
    {
     background-color:yellow;
     position: absolute;
     /*visibility:hidden;*/
     padding: 5px;
     width: 250px;
     z-index: 100;
    }