* {
    box-sizing: border-box;
    margin: 10px;
    font: normal 15px Sans-Serif;
}

#container {
    width: 80%;
    /*height: 300px;*/
    margin: 0 auto;
    background-color: #a5eba5;
    overflow: auto;
}


p {
    background-color: #a7a7e2;
    width: 100px;
    height: 100px;
    padding: 2px;
    float: left;
}

b {
    font-weight: bolder;
    color: yellow;
}

.c1 {
    cursor: crosshair;
}

.c2 {
    cursor: default;
}

.c3 {
    cursor: pointer;
}

.c4 {
    cursor: move;
}

.c5 {
    cursor: e-resize;
}

.c6 {
    cursor: ne-resize;
}

.c7 {
    cursor: text;
}

.c8 {
    cursor: wait;
}

.c9 {
    cursor: help;
}

.c10 {
    cursor: auto;
}