ul.vacio { list-style-type: none;}

ul.cuadrado { list-style-type: square;}
ul.circulorelleno { list-style-type: disc; }
ul.circulovacio { list-style-type: circle; }

ul.decimal { list-style-type: decimal; }
ul.romanominuscula { list-style-type: lower-roman; }
ul.romanomayuscula { list-style-type: upper-roman; }


ul.letrasminusculas { list-style-type: lower-alpha; }
ul.letrasmayusculas { list-style-type: upper-alpha; }