* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width:100vw;
    height:100vh;
}

.container {
    width: 100%;
    height: 90%;
    background-color: #ad91e6;
    overflow: auto;
}

.innerBox {
    width: 100px;
    height: 100px;
    margin: 5px;
    display: inline-block;
    background-color: #1231b5;
}

.footer {
    width: 100%;
    height: 10%;
    background-color: #71e571;
    
}

.lastbox {
    width: 50%;
    clear: left;
    height: 100px;
    margin: 0 auto;
    background-color: aliceblue;
}

h3 {
    text-align: center;
    color: #71e571;
}