* { box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body {
    width:100vw;
    height:100vh;
}

.container {
    position:relative;
    width: 100%;
    height: 90%;
    background-color: #ad91e6;
    overflow: auto;
}

.innerBox {
    width: 100px;
    height: 100px;
    float: left;
    background-color: #1231b5;
    margin: 5px;
}

.footer {
    width: 100%;
    height: 10%;
    background-color: #71e571;
}

.lastbox {
    width: 50%;
    height: 100px;
    clear: left;
    margin: 0 auto;
    background-color: aliceblue;
}

h3 {
    text-align: center;
    color: #71e571;
}
