.contenedor > p { 
    color: red 
}


/* 
.contenedor > .elem  { 
    color: blue; 
} 
*/

/* 
.contenedor > p.elem { 
    color: red 
} 
*/

/* 
div.contenedor > p.elem { 
    color: red 
} 
*/

/* 
div.contenedor > p  { 
    color: blue; 
} 
*/
