/* Ejemplos de Selectores de Relacion*/

body { color: blue;}
p    { font-weight: bold;}


/* h2,#par3        { color:red; } */
/* #contenedor p   { color:red;} */
/* #contenedor > p { color:red;} */
/* p + div         { color:red;} */
/* p ~ div         { color:reds;}  */


/* La coma simplemente agrupa selectores (actua como separador)*/
/*---------------------------------------*/
/* h2,#par3 { color:red; }  */



























/* Descendiente (que <p> estén adentro de #contenedor)*/
/*------------------------------------*/
/* #contenedor p { color:red;} */









/* Hijo Directo (que <p> sea hijo inmediato de #contenedor)*/
/*---------------------------------------*/
 /* #contenedor > p { color:red;} */






















/* Hermano Adyacente (El <div> debe estar inmediatamente despues de <p>)*/
/*-----------------------------------------*/
  /* p + div { color:red;} */ */





















/* Hermano General (No es necesario que el <div> este inmediatamente despues de <p>)*/
/*------------------------------------------------------*/
p ~ div { color:red;} 























/* IMPORTANTE: Los siguientes dos selectores NO SON IGUALES */
/*----------------------------------------------------------*/
div .par { color:red;}  Selecciona los elementos con la clase .par que esten dentro de un <div> */
div.par  { color:red;}  Seecciona los elementos <div> que tengan la clase par                   */
