body {
    font-family: sans-serif;
	background-color: #C8C5C5;
}

.box1 {
	background-color: blue;
	color:white;
	width: 300px;
	margin:10px auto;
	padding: 10px;
}

.boxp {
	background-color: green;
	color:white;
	width: 300px;
	margin:10px auto;
	padding: 10px;
}

.pnormal {
    white-space: normal;
    font-weight: bold;
}

.pnowrap {
    white-space: nowrap;
    font-weight: bold;
}

.ppre {
    white-space: pre;
    font-weight: bold;
}