    h1 {
        color: #ff0000;
        text-align: left;
        text-decoration: underline;
        text-transform: capitalize;
    }
    
    h2 {
        color: #0a00ff;
        text-align: center;
        text-decoration: underline;
    }
    
    h3 {
        color: #00ff14;
        text-align: right;
        text-decoration: underline;
    }
    
    h4 {
        letter-spacing: 10px;
        word-spacing: 30px;
        text-transform: capitalize;
        font: 16px Sans-Serif;
    }
    
    #recuadro1 {
        background-color: greenyellow;
        color: darkblue;
    }
    
    #recuadro1 p {
    text-indent: 40px;
    }
    
    #recuadro2 {
        background-color: darkblue;
        color: azure;
        width: 50%;
        /*height: 200px;*/
        
    }